doctype html
html
  include head.pug
  body

        h1 SmartMeter Vienna
        p 
            = config.service.version


        h2 Get Started 
        p   Use the swagger UI (meter/period - Try it out) to import historic meter data into your influx database. Do not forget to enter from- and to-dates and select store=true. (max. range: 3 years) 
            a(href="/api-docs#/METER/get_meter_period") [IMPORT]


        h2 Rest API
        table(class='rest-api')
            tr 
                th Service
                th Description               
                th Link
            tr 
                td Swagger UI
                td Endpoint and model definition. Sample data and live excution.
                td 
                    a(href="/api-docs#") [OPEN]

            tr 
                td Swagger File
                td  api-docs json-File
                td 
                    a(href="/api-docs.json") [OPEN]


        h2 Web API
        table(class='web-api')
            tr 
                th Service
                th Description               
                th Link
            tr 
                td Day Measurements
                td Smartmeter measurements of yesterday
                td 
                    a(href='/api/v1/meter/day?format=html') [OPEN]
            tr 
                td Period Measurements
                td Smartmeter measurements of a period (yesterday-yesterday)
                td 
                    a(href='/api/v1/meter/period?format=html') [OPEN]
            tr 
                td Log
                td Logfile entries
                td 
                    a(href='/api/v1/log?format=html') [OPEN]


        h2 Log: Last Errors    
        table(class='log')
            tr 
                th Level
                th Timestamp
                th Message
                th Details
            each val, key in log
                tr
                    td= val.level
                    td= val.timestamp               
                    td= val.message
                    td= JSON.stringify(val.details===undefind || val.details===null ? "" : val.details, null, 4)

//- 
        h2 Configuration
        each val, key in config
            h3= key
            table(class='config')
                each val2, key2 in val
                    tr
                        td= key2
                        td(class='pre')= JSON.stringify(val2===undefind || val2===null ? "" : val2, null, 4).replace(/(^"|"$)/g, '')


-//

        h2 Configuration
        table(class='config')
            each val, key in config
                tr
                    th(colspan=3)= key
                        each val2, key2 in val
                            tr
                                td -
                                td= key2
                                td(class='pre')= JSON.stringify(val2===undefind || val2===null ? "" : val2, null, 4).replace(/(^"|"$)/g, '')


        h2 Links
        table(class='links')
            tr 
                th Service
                th Description               
                th Link
            tr 
                td Github
                td Source code and issue tracking
                td 
                    a(href="https://github.com/gf78/smartmetervienna") [GO]

            tr 
                td Docker Hub
                td Docker image
                td 
                    a(href="https://hub.docker.com/r/gf78/smartmetervienna") [GO]

            tr 
                td Grafana
                td Dashboard Template
                td 
                    a(href="#") [GO]

            tr 
                td Wiener Netze
                td SmartMeter Webinterface
                td 
                    a(href="https://smartmeter-web.wienernetze.at/") [GO]


  

