doctype html
html
  include head.pug
  body

        h1 SmartMeter Vienna


        h2 Last Errors    
        table(class='log')
            tr 
                th Level
                th Timestamp
                th Message
                th Details
            each val, key in log
                tr
                    td= val.level
                    td= val.timestamp               
                    td= val.message
                    td= val.details

        h2 Configuration
        table(class='config')
            each val, key in config
                tr
                    th(colspan=3)= key
                        each val2, key2 in val
                            tr
                                td -
                                td= key2
                                td(class='pre')= JSON.stringify(val2===undefind || val2===null ? "" : val2, null, 4).replace(/(^"|"$)/g, '')


        h2 API: Wattage
        table(class='days')
            tr 
                th Date
                th Path
                th JSON
                th HTML
            each val, key in days
                tr
                    td= val
                    td= '/api/v1/wattage/'+val
                    td 
                        a(href='/api/v1/wattage/'+val) JSON
                    td 
                        a(href='/api/v1/wattage/'+val+'?format=html') HTML

        h2 API: Log
        table(class='days')
            tr 
                th Date
                th Path
                th JSON
                th HTML
            tr 
                td Last 7 days
                td /api/v1/wattage/
                td  
                    a(href="/api/v1/log") JSON
                td 
                    a(href="/api/v1/log?format=html") HTML

    

        
        h2 Links
        table(class='days')
            tr 
                th Service
                th URL
            tr 
                td  Github
                td 
                    a(href="https://github.com/gf78/smartmetervienna" target="_blank") https://github.com/gf78/smartmetervienna
            
            tr 
                td  Docker Hub
                td 
                    a(href="https://hub.docker.com/r/gf78/smartmetervienna" target="_blank") https://hub.docker.com/r/gf78/smartmetervienna
            
            tr                
                td  Wiener Netze
                td 
                    a(href="https://smartmeter-web.wienernetze.at/" target="_blank") https://smartmeter-web.wienernetze.at/



  

